@import "../../../../assets/styles/_colors.scss";

.header-section {
  height: 587px;
  padding: 20px 60px;
  background-position: center;
  background-size: cover;
  background-color: rgb(179 179 179 / 35%);
  background-blend-mode: lighten;
  color: $secondary-on;
}

main {
  .markdown ::ng-deep {
    img {
      display: block;
      margin: 24px auto;
    }
  }
}
