@import "../../../assets/styles/_colors.scss";

.header-section {
  height: 587px;
  padding: 20px 60px;
  background-image: url('../../../../public/plane.jpg');
  background-position: center;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.15);
  background-blend-mode: lighten;
  color: $secondary-on;
}

.container {
  aside {
    margin-right: auto;

    mat-card {
      margin-bottom: 40px;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 16px 2px;
  min-height: 280px;
}

.card {
  .cover {
    height: 280px;

    img {
      height: 100%;
    }
  }
}

.badge {
  height: 24px;
  width: 24px;
  background: $primary;
  border-radius: 50%;
  align-content: center;
  color: $secondary-on
}
