<section class="flex container">
  <main class="w-100">
    <mat-tab-group>
      @if (destinations$ | async; as destinations) {
        @for (key of continents; track $index) {
          <mat-tab label="{{Continents[key]}}">
            <section class="grid">
              @for (destination of destinations[key]; track $index) {
                <mat-card class="card card-small">
                  <div class="cover">
                    <img mat-card-image [src]="destination.image" [alt]="destination.title">
                  </div>
                  <div class="date">{{ destination.date }}</div>
                  <mat-card-content class="card-content">
                    <h4>
                      <b>
                        {{ destination.title }}
                      </b>
                    </h4>
                  </mat-card-content>
                </mat-card>
              }
            </section>
          </mat-tab>
        }
      }
    </mat-tab-group>
  </main>
</section>
