@import '../../../assets/styles/_colors.scss';

.header-section {
  height: 587px;
  padding: 20px 60px;
  background-image: url('../../../../public/rio.jpg');
  background-position: center;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.15);
  background-blend-mode: lighten;
  color: $secondary-fixed;

  .counter {
    .total {
      font-size: 28px;
      color: $primary;
    }
  }
}

.container {
  aside {
    margin-right: auto;

    mat-card {
      margin-bottom: 40px;
    }
  }
}
