<section class="flex container">
  <aside>
    <mat-card class="card card-small">
      <mat-card-header class="flex-center card-header">
        <mat-card-title>
          <h3>About Us</h3>
        </mat-card-title>
      </mat-card-header>
      <div class="cover">
        <img mat-card-image src="us-stockholm.jpg" alt="Photo of us in stockholm">
      </div>
      <mat-card-content class="card-content">
        <p>
          Best couple ever.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button>{{ 'Read More' }}</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card card-small">
      <mat-card-header class="flex-center card-header">
        <mat-card-title>
          <h3>Categories</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-content">
        <p>Europe</p>
        <p>Asia</p>
      </mat-card-content>
    </mat-card>
  </aside>
  <main>
    <mat-card class="card card-large">
      <div class="cover">
        <img mat-card-image src="phuket.jpg" alt="Photo of Phuket">
      </div>
      <div class="date">July, 15, 2024</div>
      <mat-card-content>
        <h3>A Guide to Phuket</h3>
        <p>
          Phuket is a city in Thailand.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button>{{ 'Read More' }}</button>
      </mat-card-actions>
    </mat-card>
  </main>
</section>
